.invoice-box {max-width: 1200px; margin: auto; padding: 0px; font-size: 10px; line-height: 24px; font-family: 'Arial', sans-serif; color: #303030; }
         .margin-top {
         margin-top: 50px;
         }
         .justify-center {
         text-align: center;
         }
         .invoice-box table {
         width: 100%;
         line-height: inherit;
         text-align: left;
      border:solid 1px #ddf1ff; border-collapse:collapse;}
      .invoice-box table td{border:solid 1px #ddf1ff; border-collapse:collapse;}
      .provider-info{width:48%; float:left}
      .invoice-info{width:48%; float:right;}
      .blue-tble td{background:#f1f9ff; padding:8px 15px; font-size:10px;}
      .blue-tble th{background:#0e5d97; color:#fff;padding:8px 15px; font-size:10px;}
      .invoice-box:after, .info-bx:after{content:""; clear:both; display:block; width:100%;}
      .info-bx:after{margin-bottom:20px;}
      .detail-table th{background:#0e5d97; color:#fff;padding:5px 2px; font-size:10px; line-height:22px;}
      .detail-table td{padding:5px 2px; font-size:10px;}