<!DOCTYPE html>
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
link(rel="stylesheet", href="style.css", data-inline)
</head>
<body>
<table class="content" align="center" cellpadding="0" cellspacing="0" border="0">
<tr>
<td class="logo">
<img src="#{logo}">
</td>
</tr>
<tr>
<td class="main_heading">
<span>LINE OF CREDIT UNDER MANUAL PROCESSING</span>
<br/>
<br/>
</td> 
</tr>
<tr>
<td>
<span><strong>Name: </strong>
=name
</span>
</td>
</tr>
<tr>
<td>
<span><strong>Address: </strong>
=address
<br/>
=cityState
</span>
</td>
<tr>
<td>
<span><strong>Phone: </strong></span>
=phone
</td>
</tr>
<tr>
<td>
<hr/>
</td>
</tr>
<tr>
<td><span>We want to thank you for submitting the credit application. Based on the information provided, your application is being evaluated and approval is pending manual review decision.</span></td>
</tr>
<tr>
<td><span>Application approval and assessment of line of credit is based on many criteria including your employment history, credit score, and credit history.</span></td>
</tr>

<tr>
<td><span>You will be notified of our review decision on your credit application in the next 48 hours via an email or phone call.</span></td>
</tr>

<tr>
<td><span>If you have any additional questions, don’t hesitate to call us  at (919) 600-5526. Our friendly customer service associates are eager to help.</span><br/><br/></td>
</tr>
<tr>
<td><span>Thanks, you very much for considering Health partner for your medical needs.</span><br/><br/><br/></td>
</tr>
<tr>
<td>
<span>Sincerely</span><br/>
<span>Health Partner Inc.</span><br/>
</td>
</tr>
</table>
</body>
</html>