<!DOCTYPE html>
<html>
<head>
link(rel="stylesheet", href="style.css", data-inline)
</head>
<body>
<table class="content" align="center" cellpadding="0" cellspacing="0" border="0">
<tr>
<td class="logo">
<img src="logo.png">
</td>
</tr>
<tr>
<td class="main_heading">
<span>LINE OF CREDIT DECLINED</span>
<br/>
<br/>
</td> 
</tr>
<tr>
<td>
<span><strong>Name: </strong>
=name
</span>
</td>
</tr>
<tr>
<td>
<span><strong>Address: </strong>
=address
<br/>
=cityState
</span>
</td>
<tr>
<td>
<span><strong>Phone: </strong></span>
=phone
</td>
</tr>
<tr>
<td>
<span><strong>Comment: </strong></span>
=hpscomment
</td>
</tr>
<tr>
<td>
<hr/>
</td>
</tr>
<tr>
<td><span>We want to thank you applying for line of created. Based on the information provided, your application was evaluated and reviewed based on many criteria including your credit history.</span></td>
</tr>
<tr>
<td><span>We regret to inform you that we are unable to extend line of created at this time. We look forward to serve you in the future.</span></td>
</tr>
<tr>
<td><span>If you have any additional question, our friendly customer service associate are eager to help.</span><br/><br/></td>
</tr>
<tr>
<td><span>Thanks, you very much for considering Health partner for your medical needs.</span><br/><br/><br/></td>
</tr>
<tr>
<td>
<span>Sincerely</span><br/>
<span>Health Partner Inc.</span><br/>
</td>
</tr>
</table>
</body>
</html>