<html>
<head>
 link(rel="stylesheet", href="style.css", data-inline)
</head>
<body>
<div class="verify-email">
<div class="logo"><img title="Health Partner" src="logo.png"/></div>
<div class="verify-email-data">
<h4>Please enter below code to verify your email address</h4>
<p><strong>Access Token :</strong> #{token}</p>

<p>OR</p>

<h4>Access verify email page here</h4>
<p><strong>Link :</strong><a href="https://216.109.223.176/dev/verify-email?id=#{verify_link}">https://216.109.223.176/dev/verify-email?id="#{verify_link}</a></p>

    
<h4>Your Details</h4>
<p><strong>Type :</strong> #{cutomer_type}</p>
<p><strong>Name :</strong> #{f_name} #{l_name}</p>
<p><strong>Phone :</strong> #{phone}</p>
<p><strong>Email :</strong> #{email}</p>
if(cutomer_type == "Provider")
 <p><strong>Provider Name :</strong> #{provider_name}</p>
</div>
</div>
</body>
</html>