<html>
<head>
link(rel="stylesheet", href="style.css", data-inline)
</head>
<body>
<div class="invoice-box">
<div class="header-row">

<div>
<span>Hey <strong>#{name},</strong><br><br> 
</div>
<div class="info-bx">
<div class="customer-info">
<table cellpadding="0" cellspacing="0" class="blue-tble">
<tr>
<th colspan="3">Basic Information</th>
</tr>
<tr>
<td><strong>Credit Score: </strong> #{bodydata.score}</td>
<td><strong>Loan Amount: </strong> $#{parseFloat(bodydata.amount).toFixed(2)}</td>
<td><strong>Provider Name: </strong> #{providerDetails.name}</td>
</tr>
</table>
</div>
</div>
<div class="clearfix">
<div class="loan-info invoice-bx">
<h2 class="justify-center">Plan Details</h2>
<table class="detail-table">
<tr>
<th>SN#</th>
<th>Date</th>
<th>Amount</th>
</tr>
each val, index in plan.monthlyPlan
    tr
        td=index+1
        td=val.next_month
        td=parseFloat(val.perMonth).toFixed(2)+'%'
</table>

</div>
</div>
<div>
<span><br/><br/><br/></span><br/><br/><br/>
</div>
<div>
<span><br/><br/><br/>If you have any questions, you can just hit reply to contact our Health Partner support team. </span><br/><br/><br/>
</div>
<span>Best</span><br/>
<span>Support team</span><br/>
<span><img src="logo.png"></span>

</div>
</div>
</body>
</html>
