<html>
<head>
link(rel="stylesheet", href="style.css", data-inline)
</head>
<body>
<div class="verify-email">
<div class="logo" style="text-align: center;"><img title="Health Partner" src="logo.png"/></div>
<div class="application-documents">
<p>Please find the attachments.</p>
</div>
</div>
</body>
</html>
