<!DOCTYPE html>
<html>
<head>
link(rel="stylesheet", href="style.css", data-inline)
</head>
<body>
<table class="content" align="center" cellpadding="0" cellspacing="0" border="0">
<tr>
<td class="logo">
<img src="logo.png">
</td>
</tr>
<tr>
<td class="main_heading">
<span>Credit application – Line of credit not approved</span>
<br/>
<br/>
</td> 
</tr>
<tr>
<td>
<span><strong>Name: </strong>
=name
</span>
</td>
</tr>
<tr>
<td>
<span><strong>Address: </strong>
=address
<br/>
=cityState
</span>
</td>
<tr>
<td>
<span><strong>Phone: </strong></span>
=phone
</td>
</tr>
<tr>
<td>
<span><strong>Comment: </strong></span>
=hpscomment
</td>
</tr>
<tr>
<td>
<hr/>
</td>
</tr>
<tr>
<td><span>We want to thank you for submitting the credit application. Based on the information provided, your application was evaluated and reviewed on many criteria’s including your employment history, credit score and credit history. We regret to inform you that we are unable to extend line of credit at this time.</span></td>
</tr>
<tr>
<td><span>We look forward to serve you in the future. If you have any additional question, don’t hesitate to call us at (919) 600-5526. Our friendly customer service associates are eager to help.</span></td>
</tr>
<tr>
<td><span>Thanks, you very much for considering Health partner for your medical needs.</span><br/><br/><br/></td>
</tr>
<tr>
<td>
<span>Sincerely</span><br/>
<span>HPS Customer Support</span><br/>
</td>
</tr>
</table>
</body>
</html>