body {margin: 0; padding: 0;background:#f6f8f1; min-width: 100%!important; font-family: 'Open Sans', sans-serif; font-size:18px; font-weight:300; line-height:1.7;}
			.content {width: 100%; max-width: 650px; background:#fff; padding:30px;}
			strong{font-weight:700;}
			hr{height:1px; background-color:#eee; border:0;}