<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
link(rel="stylesheet", href="style.css", data-inline)
</head>
<body>
<div class="invoice-box">
<div class="header-row">

<div>
<span>Hey <strong>#{name},</strong><br><br> 
</div>
<div class="info-bx">
<div class="customer-info">
<table cellpadding="0" cellspacing="0" class="blue-tble">
<tr>
<th>Customer Information</th>
<th>Provider Information</th>
<th>Loan Information</th>
</tr>
<tr>
<td><strong>Account No: </strong> #{customerDetails.patient_ac}</td>
<td><strong>Account No: </strong> #{providerDetails.provider_ac}</td>
<td><strong>Approved Amount: </strong> $#{parseFloat(customerDetails.approve_amount).toFixed(2)}</td>
</tr>
<tr>
<td><strong>Application No: </strong> #{customerDetails.application_no}</td>
<td><strong>Name: </strong> #{providerDetails.name}</td>
<td><strong>Principal Amount: </strong> $#{parseFloat(customerDetails.amount).toFixed(2)}</td>
</tr>
<tr>
<td><strong>Name: </strong> #{customerDetails.f_name+' '+customerDetails.m_name+' '+customerDetails.l_name}</td>
<td><strong>Address: </strong> #{providerDetails.address1+' '+providerDetails.address2+' '+providerDetails.city+' '+providerDetails.state_name}</td>
<td><strong>Remaining Amount: </strong> $#{parseFloat(customerDetails.remaining_amount - customerDetails.amount).toFixed(2)}</td>
</tr>
<tr>
<td><strong>Address: </strong> #{customerDetails.address1+' '+customerDetails.address2+', '+customerDetails.City+', '+customerDetails.name+'-'+customerDetails.zip_code}</td>
<td><strong>Phone: </strong> #{providerDetails.primary_phone}</td>
<td><strong>Loan Amount: </strong> $#{parseFloat(plan.totalAmount).toFixed(2)}</td>
</tr>
<tr>
<td><strong>Phone: </strong> #{customerDetails.phone_no}</td>
<td><strong>Doctor: </strong>-</td>
<td><strong>APR: </strong> #{(parseFloat(plan.interest_rate)/parseFloat(plan.term_month)*12).toFixed(2)}%</td>
</tr>
<tr>
<td><strong>Credit Score: </strong> #{customerDetails.score}</td>
<td><strong></td>
<td><strong>Term Month: </strong> #{plan.term_month}</td>
</tr>
</table>
</div>
</div>
<div class="clearfix">
<div class="loan-info invoice-bx">
<h2 class="justify-center">Plan Details</h2>
<table class="detail-table">
<tr>
<th>SN#</th>
<th>Date</th>
<th>Amount</th>
</tr>
each val, index in plan.monthlyPlan
    tr
        td=index+1
        td=val.next_month
        td=parseFloat(val.perMonth).toFixed(2)+'%'
</table>

</div>
</div>
<div>
<span><br/><br/><br/></span><br/><br/><br/>
</div>
<div>
<span><br/><br/><br/>If you have any questions, you can just hit reply to contact out Health Partner support team. </span><br/><br/><br/>
</div>
<span>Best</span><br/>
<span>Support team</span><br/>
<span><img src="#{logo}"></span>

</div>
</div>
</body>
</html>
