/*=============================================================
                          General
=============================================================*/

html body{font-family: 'Open Sans',sans-serif !important; font-weight:400 !important; font-size:14px;}
.breadcrumb-item + .breadcrumb-item::before{padding-right: 0.1rem!important; padding-left: 0.1rem!important;}

body{overflow: inherit !important;}

/*=============================================================
                          Login Form
=============================================================*/
.rct-session-wrapper:before{position: absolute; content:"";width: 100%; height:100%; left:0; top:0; background:rgba(255,255,255, 0.88);}
.rct-session-wrapper .session-inner-wrapper{position: absolute; padding:0;width: 100%;left: 50%;top: 50%;
transform: translate(-50%,-50%) !important; -webkit-transform: translate(-50%,-50%)!important;}

.health-login {float: left;width: 100%; display: flex; display: -webkit-flex; display: -ms-flexbox;}
.health-login form label {color: #c8c8c8;}
form .login-username .MuiInput-underline-8i0nzx::before{border-bottom:1px solid #dbdbdb;}
form .login-password .MuiInput-underline-8i0nzx::before{border-bottom:1px solid #dbdbdb;}
.health-login .has-wrapper .has-icon {right: 4px; top: 18px;}
.health-login .has-wrapper .has-icon i {color: #246b9f;}
.health-login form a.forget-password {float: left;margin: 0 0 20px;font-size: 16px;font-style: italic;color: #404040;}
.health-login form a.forget-password:hover{color:#000;}
.health-login form .form-group {float: left;width: 100%;margin: 0 0 15px;}
.rct-session-wrapper .session-inner-wrapper .health-login form button[type="submit"] {float: left;width: auto !important;display: table;
	background: #246b9f;font-size:18px;padding: 5px 15px;}
.session-logo a img.img-fluid {width: 100%;max-width: 250px;}
body .rct-session-wrapper .session-inner-wrapper .session-body.text-center h2 {color: #373737;text-transform: uppercase;font-size:50px; font-weight: 700 !important;text-align: left;}

.health-login .center-login{background: #fff; border-radius: 10px;overflow: hidden;padding: 0;
-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);}
.health-login .center-login .session-logo {text-align: center;background: #246b9f;padding: 15px 15px 10px;}
.health-login .center-login .session-logo a {display: inline-block;margin: 0 auto;}
.health-login .center-login .session-body.text-center {padding:10px 20px 5px;}
.health-login .center-login .session-body.text-center .session-head.mb-30 {display: none;}


/*=============================================================
                          Dashboard Sidebar
=============================================================*/

.rct-sidebar .rct-sidebar-wrap {background: #0e5d97;}
.rct-sidebar .rct-sidebar-content.sidebar-overlay-light .site-logo {background: #fff;}
.rct-sidebar .rct-sidebar-content.sidebar-overlay-light .site-logo img {margin: 0 !important; width: 100%; height: auto;}
.rct-sidebar .rct-sidebar-nav .navigation ul li {border-bottom: 1px solid #1d6599;}
.rct-sidebar .rct-sidebar-nav .navigation ul li .menu-icon i {color: #fff;}
.rct-sidebar .rct-sidebar-nav .navigation ul li span {color: #fff; font-size: 16px;}
.rct-sidebar .rct-sidebar-nav .navigation ul li::after {color: #fff;}
.rct-sidebar .rct-sidebar-nav .navigation ul.MuiList-subheader-1v7ji4z li.item-active {background: #404040;}
.rct-sidebar .rct-sidebar-nav .navigation ul.MuiList-subheader-1v7ji4z li.item-active span {color: #fff;}
.rct-sidebar .rct-sidebar-nav .navigation ul.MuiList-subheader-1v7ji4z li.item-active .menu-icon i {color: #fff;}
.rct-sidebar .rct-sidebar-nav .navigation ul.MuiList-subheader-1v7ji4z li.item-active::after {color: #fff;}
.rct-sidebar .rct-sidebar-nav .rct-mainMenu .sub-menu ul li a span.menu{position:relative;}
.rct-sidebar .rct-sidebar-nav .rct-mainMenu .sub-menu ul li a span.menu::after{position:absolute; left:0; top:4px; content:""; height:11px; width:11px; display:block; border:solid 2px #fff; border-radius:50%;}
.rct-sidebar .rct-sidebar-nav .rct-mainMenu .sub-menu ul li a {padding-left:35px !important;}

/*=============================================================
                          Dashboard Header
=============================================================*/

.rct-app-content .app-header header.rct-header .navbar-left li:last-child {color: #404040;margin: 0 0 0;}
.rct-app-content .app-header header.rct-header ul.navbar-right li.welcome-user {color:#000;}
.rct-app-content .app-header header.rct-header ul.navbar-right li.logout {background: #404040;	padding: 4px 10px;border-radius: 3px;}
.rct-app-content .app-header header.rct-header ul.navbar-right li.logout:hover{background:#0e5d97;}
.rct-app-content .app-header header.rct-header ul.navbar-right li.logout a {color: #fff;}
.rct-app-content .app-header header.rct-header ul.navbar-right li.logout a i {margin: 0 10px 0 0px !important;color: #fff !important;}






/*=============================================================
                          Dashboard Listing Detail
=============================================================*/

.rct-page .rct-page-content {padding: 5px 24px 15px;}
.rct-page-content .page-title {margin: 0 0 10px;}
.rct-page-content .page-title .page-title-wrap > i {color: #0e5d97;font-size: 13px;vertical-align: 1px;}
.rct-page-content .page-title h2 {color: #0e5d97;font-size:18px;letter-spacing: 0;	font-weight:700 !important;}
.rct-page-content .breadcrumb a {color: #0e5d97;}

.rct-block .rct-block-title {padding: 4px 15px;}
.rct-block .rct-block-title h4 {color: #000;}
.rct-block .MuiToolbar-regular-1fmoaiq {min-height: auto; height: auto;}
.rct-block .MuiIconButton-root-hsa2jq {padding: 8px 12px;}
.rct-block .MuiTypography-h6-pjwk8k {color: #404040;font-size: 18px;font-family: 'Open Sans', sans-serif;font-weight: 600;}

.rct-block table {font-family: 'Open Sans', sans-serif;}
.rct-block table thead {background: #f1f9ff;}
.rct-block table tr{border-bottom: 1px solid #d7eeff !important;}
.rct-block table tr.border-bottom-none {border-bottom: 0px !important;}
.rct-block table th,
.rct-block table td {border-bottom: none !important; padding-top:0; padding-bottom:0;height:34px;border-top: none !important;}
.rct-block table th span > div {color: #000;font-size: 14px;}
.rct-block table tr:hover{background: #f1f9ff !important;}
.rct-block .pb-20, .rct-block .py-20 {padding-top: 10px !important;	padding-bottom: 10px !important;}
.rct-block table td .media {margin:0px 0;}
.rct-block table tr th,
.rct-block table tr th span.MuiTypography-body2-45tx6o{color: #000;font-size: 16px;font-weight: 600;}
.rct-block table tr td{color: rgba(0, 0, 0, 0.87);font-weight: 400;}
.rct-block table tr th .MuiFormControlLabel-root-qdlroj {margin: 0 0 0 -14px;}
.rct-block table td .media .media-body h5 {font-size: 13px;	margin: 0px 0 0 !important;font-weight: normal !important;}
.rct-block table td .media .media-body .badge.badge-warning {border-radius: 40px;padding: 5px 12px 5px;line-height: 10px;
	text-transform: capitalize;}
.rct-block table tr td.d-flex.justify-content-start{height: 34px;padding-top: 7px;border-top: none;}
.rct-block table th label.MuiFormControlLabel-root-qdlroj, 
.rct-block table td label.MuiFormControlLabel-root-qdlroj {margin: 0;padding: 0 0 0;}	
.rct-block table th label.MuiFormControlLabel-root-qdlroj span, 
.rct-block table td label.MuiFormControlLabel-root-qdlroj span {padding: 0;}
.rct-block table tfoot {border-top: none !important;}
.rct-block table tfoot td {border-top: none;border-bottom: none !important;}
.rct-block table tfoot td nav {padding: 10px 0 0 !important;}
.rct-block table tfoot td nav ul.pagination {margin: 0 0 10px;}
.rct-block table tfoot td nav ul.pagination li a{color:#0e5d97;}
.rct-block table tfoot td nav ul.pagination li.page-item.active a{background:#0e5d97; border-color:#0e5d97;}
.btn-outline-default {background: #fff;color: #246b9f !important;border-color: #fff !important;padding: 2px 10px;}
.btn-outline-default:hover{color:#246b9f !important;}
a.caret {background: #404040;color: #fff !important;border: 1px solid #404040 !important;}
a.caret:hover{color:#fff !important;}
.badge {border-radius:40px !important;max-width: 85px;width: 100%;padding: 4px 5px !important;}
.badge.status {width: 8px;height: 8px;max-width: 100%;border-radius: 50% !important;padding: 0 !important;margin: 7px 8px 0 0 !important;}
.ecom-dashboard-wrapper .rct-block-title {background: #0e5d97;}
.ecom-dashboard-wrapper .rct-block-title h4 {color: #fff;font-size: 18px;}
.ecom-dashboard-wrapper .rct-block-title .contextual-link {top: 12px;}
.ecom-dashboard-wrapper .rct-block-title .contextual-link a i {color: #fff;opacity: 1;}
.ecom-dashboard-wrapper .rct-block {border-radius: 5px;overflow: hidden;}
.rct-full-block .table-responsive .justify-content-between{background:#246b9f;border-radius: 5px 5px 0 0px;}
.rct-page-content .btn-outline-default{padding:2px 6px!important;}
.rct-page-content a.mr-10{margin-right:0!important;}


/*=============================================================
                          Dashboard footer
=============================================================*/

.rct-page-content .rct-footer {padding: 10px 20px;background: transparent;width: 100%;}
.rct-page-content .rct-footer ul li a:hover{background:#0e5d97; color:#fff;}


/*=============================================================
                          Pop-Up Form
=============================================================*/

.modal.fade .modal-content .modal-header {background: #0e5d97;border-radius: 3px 3px 0px 0;padding: 0.67em 1rem;}
.modal.fade .modal-content .modal-header .modal-title {color: #fff;	font-size: 18px;}
.modal.fade .modal-content .modal-header .close {color: #fff;opacity: 1;font-size: 30px;margin-top: -20px;}
.modal.fade .modal-content .modal-body .MuiFormControl-root-yfcgqp {float: left;width: 100%;margin: 0 0 15px;}
.modal.fade .modal-content .modal-body .MuiFormControl-root-yfcgqp .MuiInput-root-1tbj2pi:before,
.modal.fade .modal-content .modal-body .MuiFormControl-root-yfcgqp .MuiInput-root-1tbj2pi:after{display:none;}
.modal.fade .modal-content .modal-body input, .page-form-outer input, .modal.fade .modal-content .modal-body textarea, .page-form-outer textarea
.modal.fade .modal-content .modal-body select, .page-form-outer select,
.modal.fade .modal-content .modal-body .MuiFormControl-root-yfcgqp .MuiInput-root-1tbj2pi input {border: 1px solid #d2d2d2; 
box-shadow: none;font-size: 14px;padding:0px 10px;height: 40px;border-radius: 0.25rem;color: #464D69;}
.modal.fade .modal-content .modal-body textarea{height:85px;}
.modal.fade .modal-content .form-group {margin: 0 0 12px;}
.modal.fade .modal-content .modal-body input:focus, .modal.fade .modal-content .modal-body textarea:focus,
.modal.fade .modal-content .modal-body select{box-shadow:none;}
.modal.fade .modal-content button.btn-danger, .button-box button.btn-danger{background: #404040;}
.modal.fade .modal-content button.btn-success, .button-box button.btn-success{background: #246b9f;}

.MuiDialogContent-root-1s8gnks .media-body p {margin: 0 0 8px;}
.MuiDialogContent-root-1s8gnks .media-body p .badge.badge-warning {background: #f80;border-radius: 50px;line-height: 10px;
	padding-bottom: 5px;text-transform: capitalize;}
/*.badge.badge-warning {background: #f80;}	*/
.badge.badge-success {background: #1cdd79;}	
.badge.badge-danger{background:#e42121;}
.badge.badge-secondary{background: #0099cc;}
.MuiDialogActions-root-wf95su .btn-danger {background: #404040;}
.MuiDialogActions-root-wf95su .btn-primary,
.badge.badge-primary {background: #246b9f;}
.badge.badge-unapproved {background: #ff5b0f;}
.badge.badge-m-process {background: #4CAF50;}
.badge.badge-ps-process {background: #f7a612;}
.badge.badge-review {background: #9E9E9E;}

.MuiDialogContent-root-1s8gnks {padding-bottom: 0;}
.MuiDialogContent-root-1s8gnks p#alert-dialog-description {margin: 0 0 5px;}
.modal.fade .modal-content .modal-body label {margin: 0;font-size: 14px;color: #000;font-weight: 600;float: left;width: 100%;}
.modal.fade .modal-content .form-check {float: left;margin-right: 25px;}
.modal.fade .modal-content .form-check label {font-weight: 400;}
.modal.fade .modal-content .form-check label input[type="radio"] {height: auto}
.modal.fade .modal-content .modal-footer button, .button-box button{max-width: 90px;width: 100%;}
.MuiDialogActions-root-wf95su button {max-width: 90px;width: 100%;}
.MuiDialogActions-root-wf95su.MuiDialogActions-action-btf2we .btn-danger:hover{background: #1d1d1d;}
.MuiDialogActions-root-wf95su.MuiDialogActions-action-btf2we  .btn-primary:hover{background: rgb(9, 65, 105) !important;}
.fixed-plugin {display:none;}
input[type=date]::-webkit-inner-spin-button {-webkit-appearance: none; display: none;}
.modal.fade .modal-content .modal-body .MuiFormControl-root-yfcgqp{margin:0; float:none; width:100%;}
.modal.fade .modal-content .modal-body textarea{padding-top:5px; padding-bottom:5px;}
textarea{box-shadow:none!important; border: 1px solid #d2d2d2!important; height:85px;}
.form-control{border: 1px solid #d2d2d2!important;}
.form-group fieldset{border:0;}
.page-form-outer{padding:20px;}
.form-group label{width:100%; font-weight:600;}
.form-check label{font-weight: 400;}
.form-group .form-check { float: left;  margin-right: 30px;}
.form-check label input[type="radio"] { height: auto;}
.button-box {display: flex; align-items: center; justify-content: flex-end;  padding: 1rem; border-top: 1px solid #F4F7FA;}
.button-box > :not(:last-child) {margin-right: .25rem;}
.button-box > :not(:first-child) {margin-left: .25rem;}
.form-group { margin-bottom: 12px!important;}
.form-control{font-size:14px!important;}
.login-form{text-align:left;}
#name-helper-text, #Password-helper-text, .MuiFormHelperText-root-q4wae2{color:red!important; margin-left:0!important;}
.user-permission .table-responsive table .form-check-input{margin-left:0; margin-top:-5px;}
.user-permission .MuiInput-underline-8i0nzx:before{border:0;}
.user-permission .MuiInput-underline-8i0nzx:hover:not(.MuiInput-disabled-9i5n0e):not(.MuiInput-focused-1k1wxwc):not(.MuiInput-error-i2xeoy):before{border:0;}
.user-permission .MuiSelect-select-1u21d1m{border:solid 1px #d2d2d2; padding:8px;}
.user-permission .MuiInputLabel-formControl-3f8qn1{left:8px;}
.padd-10-custome{padding:10px;}
.padd-0-custome{padding:0!important;}



/*=============================================================
                          View Popup
=============================================================*/


.width-100{width:100%;}
.modal-body .first-colmn{display:inline-block; width:40%; min-width:150px; float:left;}
.modal-body .second-colmn{display:inline-block; width:55%; padding-left:5%;}
.colmn-row{padding:6px 0; border-bottom:solid 1px #d7eeff;}
.modal.fade .modal-content .modal-body input, .page-form-outer input, .modal.fade .modal-content .modal-body textarea, .page-form-outer textarea .modal.fade .modal-content .modal-body select, .page-form-outer select, .modal.fade .modal-content .modal-body .MuiFormControl-root-yfcgqp .MuiInput-root-1tbj2pi input{border: 1px solid #c7c7c7;}
input[type="checkbox"]{height:auto;}


.view-section-inner h4{font-weight:700; background-color:#0e5d97; color:#fff; padding:8px 10px; border-radius:4px 4px 0 0; margin-bottom:0; }
.view-section-inner{margin-bottom:10px;}
.login-details h3{color: #0e5d97; font-size: 18px; letter-spacing: 0; font-weight: 700 !important; text-transform: uppercase;}
.login-details{padding-top:30px;}
.bg-primary{background-color: #0e5d97 !important;}
.btn-primary{background: #1468a6 linear-gradient(180deg, #2475b0, #1468a6) repeat-x!important;  border-color: #1468a6!important;}
.btn-primary:hover {background: #0e5d97 linear-gradient(180deg, #1468a6, #0e5d97) repeat-x!important; border-color: #0e5d97!important;}
.text-primary{color:#0e5d97!important;}
.price-plan{padding:0!important;}
.header{ border-radius:5px 5px 0 0; padding:10px}
.pricing-title{line-height:20px; display:inline-block; font-size:22px!important; font-weight:600; margin:0px auto; }
.price-plan .header{background:#0e5d97;}
.price-plan .header .pricing-title{color:#fff; margin-bottom:5px;width: 100%;}
.description-text{color:#fff; font-size:16px; font-weight:600;display: inline-block; margin-right: 15px; width:100%; line-height: 11px;}
.description-text .p-amt {float: left; font-size: 14px; display: inline-block; font-weight: normal;}
.description-text .apr {float: right; font-size: 14px; display: inline-block; font-weight: normal;}
.price-plan .header .pricing-title .plan_term {font-size: 16px; margin-right: 5px;}
.price-plan .price-list table tbody tr {background-color: #fff; text-align: center;}
.price-plan .header .pricing-title .checkmark {background: #fff;}
.price-plan .pro_discount {color: #fff;}

.plan-estimate .checkmark {left: -10px !important}
.price-plan .price-list{margin-top:0px; margin-bottom:0;}
.price-plan .table-head, .price-plan .table-head:hover{background-color:#fff!important;}
.price-plan .page-form-outer{padding:0px;}
.price-plan .page-form-outer {padding-top: 0px;}
.plan-estimate .rct-block table th, .plan-estimate .rct-block table td {height:29px}
.view-section-inner{float:left; width:100%;}
.view-section-inner .width-50{width:50%; display:inline-block; vertical-align:top;}
.view-section-inner .width-50 table{border:solid 1px #d7eeff; width:100%; border-collapse:collapse;}
.view-section-inner .width-50 table tr td{padding-left:10px; height:30px; box-sizing:border-box;}
.view-section-inner .width-50 table tr td:first-child{width:60%;}
.blue-small-title{font-weight:600; color:#0e5d97; margin-bottom:10px;}
.modal-dialog{max-width:650px!important;}
.agreement-modal .modal-dialog{max-width:800px!important;}
.add-specialities ul{list-style:none; float:left; width:100%; border-bottom:solid 2px #d2d6de; padding-bottom:5px;}
.add-specialities ul li{display:inline-block; font-weight:600; vertical-align:middle;}
.add-specialities .btn-sm{margin-bottom:0!important;}
.add-specialities ul li.label-name{position:relative; top:10px;}
.bg-grey-input input{background-color:#f1f3f4;}
.MuiStepLabel-label-5mz04k {color: rgba(0, 0, 0, 0.7)!important;}
.MuiStepLabel-label-5mz04k.MuiStepLabel-active-lp288t{color:rgba(14, 93, 151, 1)!important;}
.upload-doc-input input{padding-left:0;border:none;}

.react-datepicker-wrapper, .react-datepicker__input-container, .react-datepicker__input-container input {
  width:100%;
}

/*=============================================================
                          Invoice
=============================================================*/

.customer-accnt .add-card{padding:0; width:32%; border:solid 1px #d7eeff!important; background:#f1f9ff;}
.add-card-sign{border:solid 1px #d7eeff!important; background:#f1f9ff;}
.customer-accnt .add-card table{width:100%;}
.customer-accnt .add-card th{background:#f1f9ff; color:#000; font-size:15px !important; padding:8px 8px;}
.customer-accnt .add-card td{padding:0px 8px; }
.customer-accnt .add-card tr:last-child{border:0!important;}
.customer-accnt .add-card tr:hover{background-color:transparent!important;}
.customer-accnt .add-card tr:nth-child(2) td{padding-top:15px; padding-bottom:4px;}
.customer-accnt .add-card tr:last-child td{padding-bottom:15px; padding-top:6px;}
.invoice-wrapper h1, .invoice-wrapper h2, .invoice-wrapper h3, .invoice-wrapper h4, .invoice-wrapper h5{color:#145b89; font-weight:700;}
.pymt-history tr th{font-weight:700; color:#000!important; padding: 0.5rem 0.75rem!important; font-size:1rem!important;}

.customer-detail-info{border:solid 1px #d7eeff!important; background:#f1f9ff; padding:30px; border-radius:4px;}
.customer-detail-info h4{font-weight:700;}
.customer-detail-info .add-card{padding:0!important; border:0;}
.customer-detail-info .add-card table tr{border:0!important;}
.customer-detail-info .add-card table tr td:first-child{text-align:right;}
.customer-detail-info .add-card table tr td{padding:0 10px; height:25px;}
.customer-loan-info .add-card tr td:last-child{text-align:right;}
.explaination tr:last-child > td{border-top: solid 1px #d7eeff!important; background: #f1f9ff;}
.pad-bottom-40{padding-bottom:40px!important; padding-top:6px!important;}
.customer-loan-info .add-card{background:#fff;}
.paymt-voucher h3{padding-top:15px; border-top:1px dashed #d7eeff;}
.pymt-voucher-detail .add-card{ padding:0; width:60%; max-width:420px; padding-bottom:30px; border:1px solid;}
.pymt-voucher-detail .add-card table{font-size:16px; width:100%; }
.pymt-voucher-detail .add-card table tr{border:0;}
.pymt-voucher-detail .add-card table tr th{text-align:center; color:#000; padding:10px 10px; background:none; border-bottom:1px solid #126dae!important; font-size:18px;}
.pymt-voucher-detail .add-card table tr td{color:#000; padding:5px 10px;}
.pymt-voucher-detail .add-card table tr td:first-child{text-align:right;}
.pymt-voucher-detail .add-card table tr td:last-child{padding-right:80px;}
.bg-blue{background:#085993;}
.pymt-voucher-detail{justify-content: flex-end;}
.address-card{max-width:350px; padding-top:5%!important; }
.address-card p{font-size:18px;}
.pymt-voucher-detail table tr:hover{background-color:transparent!important;}
.total-amt table td{color:#202020!important; font-size:18px; font-weight:700!important;}
.pymt-voucher-detail .total-amt{padding-bottom:0px; margin-top:30px; border:solid 1px #c7c7c7; padding:10px; width:39%;max-width:100%}
.pymt-voucher-detail .total-amt table td {font-size:17px;padding-right:10px !important;text-align:center !important;}

.view-section-inner{float:left; width:100%;}
.view-section-inner .width-100{width:100%; display:inline-block; vertical-align:top;}
.view-section-inner .width-100 table{border:solid 1px #d7eeff; width:100%; border-collapse:collapse;}
.view-section-inner .width-100 table tr td{padding-left:10px; height:30px; box-sizing:border-box;}
.view-section-inner .width-100 table tr td:first-child, .view-section-inner .width-100 table tr td:nth-child(3){width:20%;}
.view-section-inner .width-100 table tr td:last-child, .view-section-inner .width-100 table tr td:nth-child(2){width:30%;}
.text-blue{color:#0e5d97;}
.table-inner-title h5{font-size:16px; margin-top:20px;}
.mps-submt-btn button{margin-top:30px;}
.mps-table-data .list-action button{font-size: 0.875rem!important;}
.mr-10-custome{margin-right:10px!important;}
.rct-full-block > div > div:nth-child(3){overflow:auto;}
/*.rct-block table tr th, .rct-block table tr td{white-space:nowrap!important;}*/
table.admin-account-view-invoice tr th, table.admin-account-view-invoice tr td ,
.admin-provider-list tr th, .admin-provider-list tr td ,
.admin-customer-list tr th, .admin-customer-list tr td ,
.admin-application-list tr th, .admin-application-list tr td ,
.admin-account-open-invoice tr th, .admin-account-open-invoice tr td ,
.admin-reports-loan-report tr th, .admin-reports-loan-report tr td ,
.admin-reports-pro-invoice-report tr th, .admin-reports-pro-invoice-report tr td ,
.admin-reports-week-month tr th, .admin-reports-week-month tr td ,
.admin-application-payment-plan tr th, .admin-application-payment-plan tr td ,
.customer-active-plan tr th, .customer-active-plan tr td ,
.provider-user-list tr th, .provider-user-list tr td ,
.provider-application-list tr th, .provider-application-list tr td ,
.provider-application-payment-plan tr th, .provider-application-payment-plan tr td ,
.provider-customer-list tr th, .provider-customer-list tr td ,
.provider-create-invoice tr th, .provider-create-invoice tr td 
 {
  white-space:nowrap!important;
 }
/**/

.customer_payment input#waiver_amount, .customer_payment input#waiver_pct {
  background-color: #fff;
  border: 1px solid #d2d2d2;
  border-radius: 0.25rem;
}

.customer_payment .rct-block table tr {
border-bottom:0 !important;
}

.text-decoration-line-through {
text-decoration: line-through;
}

span.float-right {
color: inherit !important;
}

.payment-method .form-group .form-check {
float: none !important;
}

.late-fee-payment {
background:rgba(255, 0, 0, 0.13); 
}

.MuiListItemIcon-root {
  min-width: 30px !important;
}

/* label position */
.user-permission .check-container {
  position:relative;
}
/* Hide the browser's default checkbox */
.user-permission .check-container input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.user-permission .checkmark {
  position: absolute;
  top: -7px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: rgba(158, 158, 158, 0.55);
}

/* On mouse-over, add a grey background color */
.user-permission .check-container:hover input ~ .checkmark {
  
  cursor: pointer;
}

/* When the checkbox is checked, add a blue background */
.user-permission .check-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.user-permission .checkmark::after {
  content: ""  !important;
  position: absolute !important;
  display: none  !important;
}

/* Show the checkmark when checked */
.user-permission .check-container input:checked ~ .checkmark::after {
  display: block  !important;
}

/* Style the checkmark/indicator */
.user-permission .check-container .checkmark::after {
  left: 5px;
  top: 1px;
  width: 6px;
  height: 10px;
  border: solid white !important;
  border-width: 0 3px 3px 0 !important;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

p.MuiFormHelperText-root {
    color: #f44336;
}

i.zmdi.zmdi-cloud-download {
    font-size: 1.5em;
    padding: 12px;
    color: #757575;
}
.report-download {
  color: #307BB0;
  border-radius: 50%;
}
.report-download:hover {
    background-color: rgba(0, 0, 0, 0.08);
}
.report-download:hover i.zmdi.zmdi-cloud-download {
    color: #307BB0;
}
span.app_status {
    white-space: inherit;
    line-height: 10px;
}
.admin-report-filter .form-group {
    width: 47%;
    float: left;
    margin-right: 6px;
}
.admin-report-filter label {
    width: 100%;
}

.icon-fr {
  font-size: 22px;
  margin-right: 10px;
}
.icon-fr-progress {
  font-size:17px;
}
.customer-pymnt-single .form-group {
  margin-bottom: 0 !important;
  padding: 10px 0;
}
.installment-view .add-card {
  width:49%!important;
}
.application-review-process h3 {
    font-weight: bold;
    font-size: 16px;
    color: #000;
    margin-bottom: 15px !important;
}
.application-review-process h3.app-review-info {
    color: #145b89;
    font-size: 17px;
}
.application-review-process {
  padding:30px;
}
.application-review-process .review-app-info table tr {
    border: 1px solid #145b89 !important;
}
.application-review-process .review-app-info table th {
    padding: 20px !important;
    font-size: 13px !important;
    border-right: 1px solid #14897e;
    width:20%;
    text-align: center;
}
.application-review-process .review-app-info table th span {
    font-weight: normal;
}
.application-review-process .review-app-info table th .form-group p {
    color: #f44336;
    position: absolute;
    margin: 5px 0;
}
.application-review-process .review-app-info table th:first-child {
    padding-top: 20px !important;
}
.hps-risk-modal table th, .experian-risk-modal table th {
  color:#0e5d97 !important;
  padding-top:10px !important;
  padding-bottom:10px !important;
  font-size: 16px !important;
  padding-left: 30px !important;
}
.hps-risk-modal table td, .experian-risk-modal table td {
    padding-left: 30px !important;
}
i.zmdi.zmdi-check-square.pay-link.icon-fr {
    color: #9E9E9E;
}
.select-customer-plan table th {
    padding: 15px 30px !important;
    font-size: 17px !important;
    border: none !important;
    border-right: 1px solid rgb(27, 151, 171) !important;
}
button.top-select-btn {
    width: 50%;
    margin: 0 auto;
    margin-top: 13px;
}
span.t-price {
    font-weight: normal;
}
.select-plan-detail div.col-md-10 {
    text-align: left;
}
.select-plan-detail div.col-md-2 {
    text-align: right;
}
.select-plan-detail div.row {
  width:100%;
  margin:0;
}
.page-form-outer.select-plan-detail div div {
    border-bottom: 1px solid #cad8e2;
    padding: 5px 0;
}

.user-full-name, body title {
  text-transform: capitalize !important;
}
.address-wrapper .view-section-inner.p-location {
    background: rgba(145, 144, 144, 0.42);
    padding: 20px;
}
#additional_amount {
  background:#fff;
}
a.pay-link.not-current-month-installment {
    pointer-events: none;
    color: #9E9E9E;
}
.providerView-wrapper table th {
    padding: 10px;
}
.p-view-title {
    color: #0e5d97;
    margin-bottom: 15px;
}

.p-view-img .modal-header {
    border-bottom: 0;
}
.p-view-img .modal-body {
    background: #0e5d97;
    padding: 0px 5px;
}
.p-view-location:nth-child(even) {
    background: #f8f9fa;
}
.p-view-location {
    padding: 20px;
}
.p-view-location:nth-child(odd) {
    background: #d7eeff;
}

.p-view-bank:nth-child(odd) {
    background: #f8f9fa;
}
.p-view-bank {
    padding: 20px;
}
.p-view-bank:nth-child(even) {
    background: #d7eeff;
}

.p-view-user:nth-child(odd) {
    background: #f8f9fa;
}
.p-view-user {
    padding: 20px;
}
.p-view-user:nth-child(even) {
    background: #d7eeff;
}
.rct-sidebar-nav {
    padding-bottom: 85px;
}

.fourth-tab-discount-rate-container, .fourth-tab-upload-document-container {
  background: #f7f8f9;
  padding: 20px;
}
.fourth-tab-fee-rate-container, .fourth-tab-interest-payment-term, .fourth-tab-spl-container {
  background: #f1f9ff;
  padding: 20px;
}

.fourth-tab-container input[type=text] {
  background:#fff;
}

.fourth-tab-container h3 {
  font-weight: bold;
  padding-bottom: 10px;
}

.MuiStep-root.MuiStep-horizontal button {
    cursor: inherit;
}

.p-view-popupImg .modal-title {
  width:100%;
}

.p-view-img-download-link {
  color:#fff;
}

.rct-block .rct-full-block table th span > div{font-size:14px!important;}
table th > span svg{margin:0!important; width:12px!important;}
.rct-block table tr th, .rct-block table tr th span.MuiTypography-body2-45tx6o{font-size:14px!important;}
.location-title{border-bottom:#d7eeff solid 1px; text-align: center; font-weight:700; color:#0e5d97; margin-bottom:0; margin-top:6px; padding:4px;}
.billing-title{ border-bottom:#d7eeff solid 1px; text-align: center; font-weight:700; color:#0e5d97; margin-bottom:0; margin-top:6px;padding:4px;}
table tfoot tr td b {font-size: 14px !important}
.heading-checkbox span svg{width:1em!important;}
.heading-checkbox span { padding: 0px}
.agreement_doc{ padding-top: 15px; padding-left: 15px}
.agreement_print li { padding: 1.9rem 1.875rem !important}
.sing_box {padding: 10px !important;}
.agreement_plan { width: 100%}
.agreement_plan tbody tr td {padding: 0.5rem 0.75rem !important}
select.form-control:not([size]):not([multiple]){height:40px!important; border-color:#c7c7c7!important;}
.invoice-head{border-top: 1px solid #EBEDF2;}

.provider-edit-profile, .customer-edit-profile {position: absolute;top: 8px;right: 13px;}

.submitted-invoice-view .add-card:first-child {width:40%}
.submitted-invoice-view .add-card:last-child {width:59% !important}
.signup-form p, .verify-email-form p {color: red !important;}
.signup-form, .verify-email-form {text-align: left;}

.pro-profile-edit-discount-rate::after {
  content: '';
  top:0;
  left:0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.pro-profile-edit-additional-fee::after, .pro-profile-edit-documents::after {
  content: '';
  top:0;
  left:0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.pro-profile-edit-additional-fee input[type=text], .pro-profile-edit-discount-rate input[type=text] {
  background: #F4F7FA;
}
.discount_rate_alert, .customer_profile_fields {color: red;}

.terms-condition-agreement ul li {list-style-type:lower-alpha}
.terms-condition-agreement ul {margin-left: 30px;}
.name-borrower {padding-left: 60px;}
.agree-text{position: relative; top: -7px;}
.bg-grey {background:#f9f9f9}
.credit-card-details ul {list-style:none;text-align: center;}
.credit-card-details ul li {display: inline-block; margin-right: 35px;}
.credit-card-details ul li:last-child {margin-right: 0px;}
.credit-card-details ul li::before {
    content: '';
    width: 20px;
    height: 20px;
    border: 2px solid;
    position: relative;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}
.credit-card-details {
    border: 1px solid !important;
}
.logo-container {
    border-bottom: 1px solid !important;
}
.logo-heading {
  text-transform: uppercase;
    font-weight: 600;
    font-size: 10px;
}
.field-container td {
    color: #000 !important;
    text-align: left !important;
    font-size: 12px;
    border: 1px solid #d7eeff !important;
    padding-bottom: 40px !important;
    width: 50%;
    text-transform: uppercase;
    font-weight: 600 !important;
}
.pymt-voucher-detail .add-card .field-container table tr {border-top: 1px solid #d7eeff !important;}
.credit-card-heading {text-align:center;text-transform: uppercase;font-weight: 600 !important;border-bottom: 1px solid;}
span.payable-amount, .additional-credit-amount {
    font-size: 20px !important;
}
.pymt-voucher-detail .add-card .field-container table tr:last-child td {
    padding-bottom: 5px !important;
}
.pymt-voucher-detail .add-card .field-container table tr td:last-child {
    padding-right: 10px;
}
.credit-card-note {color:red;}
.readonly-bg {background:#f4f4f5}
.field-div {
    background: #f7f8f9;
    padding: 10px 20px;
    border-radius: 3px;
}
.tot_price {
  font-size: 16px;
  font-weight:bold;
}
.invoice_status {
  font-size:22px;
  font-weight: bold;
  text-transform: uppercase;
}
.confirm_payment {background: #0e5d97;}
.confirm_payment a {color: #fff !important; font-weight: bold;}
.sample_img {
  float: right;
  font-weight: normal;
  color: #0e5d97;
  cursor: pointer;
  font-size: 12px;
}
.provider_agreement_terms {
    height: 400px;
    position: relative;
    overflow-y: scroll;
    padding: 0 20px;
}
.provider_agreement_terms_modal, .email_template_modal {
    width: 80% !important;
    max-width: 1000px !important;
}
.agreement_check {
    transform: scale(1.5);
    height: auto !important;
    position: relative;
    margin-right: 5px;
}
.provider_agreement_terms {
    padding: 30px;
}
.ovride-action-btn {
    color: #0e5d97;
    font-weight: bold;
}
.ovride-action-btn .oe-btn {
    cursor: pointer;
}
.provider_agreement_terms ol ul {
    margin-left: 16px;
}
.provider_agreement_terms li ul {
    list-style-type: lower-alpha;
}
.provider_agreement_terms li ul li ul {
    list-style-type: lower-roman;
}
.payment-plan-generator {
    background: #f8f9fa;
    padding: 10px;
}
.plan-detail-print {
    display: inline-block;
    border: 0 !important;
    position: fixed;
    right: 0;
    background: #fff;
}
.plan-detail-print li {
    padding: 4px !important;
    border: 1px solid #f1f9ff;
}
.page-form-outer input {
    background: #fff;
}
table.admin-account-view-invoice thead tr, table.admin-account-view-invoice thead tr:hover {
    background: #0e5d97 !important;
}
table.admin-account-view-invoice tr th {
    color: #fff !important;
}
.recommended-plan .price-plan {
    border: 5px solid #0e5d97;
    border-radius: 5px;
    background: #0e5d97;
}
.recommanded-text {
  font-size: 11px;
  font-weight: normal;
  float: right;
  position: absolute;
  right: -10px;
  background: #05bcf3;
  color: #fff;
  padding: 3px 5px;
  top: -10px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.plan-tab .col-md-6 {
    padding: 10px 0;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
}
.plan-tab .p-customer {
    border-right: 1px solid;
    background: #bcbdbd;
}
.plan-tab .p-provider {
    background: #bcbdbd;
}
.plan-tab .selected-tab {
    background: #1d6599;
}
.provider-invoice-preview table th, .provider-invoice-preview table td {
    white-space: nowrap;
}
.form-group label {
  font-size:12px;
}
.form-check label input[type="radio"] {
    bottom: 3px;
}
.additional_conv_fee input, .additional_from_date, .additional_to_date {
    background: #f7f8f9 !important; 
}
.provider_type_grp p, .prmry_adrs_grp p, .phy_state_grp p, .bill_state_grp p, .bank_loc_grp p, .bank_act_type_grp p, .dis_type_grp p, .loan_trm_grp p, .dis_from_date_grp p, .dis_to_date_grp p, .dis_all_req_grp, .spl_loc_grp p, .spl_name_grp p, .user_role_grp p, .discount_msg {
    color: #f44336 !important;
}
span.checkName, span.checkDob, span.checkSsn {
    margin-left: 30px;
    font-weight: normal;
}
span.checkLabel {
    width: 100px;
    display: inline-block;
}
.check_fieldset {
    border-bottom: 1px solid #c7c7c7;
    padding-bottom: 10px;
}
.doc_check {
    transform: scale(1.5);
    height: auto !important;
    margin-bottom: 0px;
    position: relative !important;
}
.check_doc {
    display: inherit !important;
    margin: 0 !important;
}
.verify-bank-btn, .back-btn {
    color: #0e5d97;
    font-weight: bold;
    cursor: pointer;
}
.unverified {
    background: #ffc1c1;
}
span.bank_verified_container {
    font-size: 11px;
}
.quill_preview_template {
    border: 1px solid #EBEDF2;
    padding: 12px;
}
.preview_show {
  display:block;
}
.preview_hide {
  display:none;
}
.plan-agreement-upload h3 {
    font-weight: bold;
    font-size: 16px;
    color: #000;
    margin-bottom: 15px !important;
}
.plan-agreement-upload h3.app-review-info {
    color: #145b89;
    font-size: 17px;
}
.plan-agreement-upload {
  padding:30px;
}
.plan-agreement-upload .review-app-info table tr {
    border: 1px solid #145b89 !important;
}
.plan-agreement-upload .review-app-info table th {
    padding: 20px !important;
    font-size: 13px !important;
    border-right: 1px solid #14897e;
    width:20%;
    text-align: center;
}
.plan-agreement-upload .review-app-info table th span {
    font-weight: normal;
}

.plan-agreement-upload .review-app-info table th .form-group p {
    color: #f44336;
    position: absolute;
    margin: 5px 0;
}
.ssn-mask fieldset {
    border: 1px solid #c7c7c7 !important
}
.ssn-mask input {
    border: 0;
}
.eye-mask {
    padding: 0 0 0 10px !important;
}
.eye-mask:hover {
    background: none !important;
}
.customer-fin, .customer-lfee {
  color: inherit !important;
}
.support-history h4 {
    color: #145b89 !important;
    font-weight: 700 !important;
    font-size: 1.125rem !important;
    text-align: center;
}
.support-history .contextual-link {
  top: 10px !important;
  left: 20px;
}
.support-history a.caret.btn-sm.mr-10 {
    position: absolute;
    top: 5px;
    right: 20px;
}
#check-ticket-related, #follow-up-needed {
  height: auto;
}
.support-history-modal .modal-content .modal-body input[type=text], .support-history-modal .modal-content .modal-body select {
  height: 30px !important;
}
.support-history-modal .modal-content .modal-body .form-group {
  margin-bottom: 2px !important;
}
.ticket-reply-textarea {
  height:200px;
}
.ticket-comment-section .comment {
  background: #efefef;
  padding: 15px 25px;
  width: 50% !important;
  display: inline-block;
  border-radius: 26px;
  border-top-left-radius: 0;
  position: relative;
}
span.comment-date {
    position: absolute;
    bottom: -20px;
    left: 20px;
    color: #d6d3d3;
}
tr.admin_comment {
    background: #badcf5;
}
tr.customer_comment {
    background: #e2e2e2;
}
/*.all-comment-section table {
    border: 1px solid;
}
.all-comment-section tr {
  border-bottom: none !important;
}
.rct-block .all-comment-section table tr {
  border-bottom: none !important;
}
.all-comment-section td, .all-comment-section th {
    padding: 10px 20px;
}*/
.view-ticket-container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 15px 1px rgba(69, 65, 78, 0.08);
  border: none;
  transition: all 0.4s ease-in-out 0s;
  margin-bottom: 24px;
  position: relative;
}
.view-ticket-container .table thead th {
    background: #f1f9ff;
    font-weight: bold;
    padding: 5px 10px;
    border: none;
}
.view-ticket-container .table tbody td {
    padding: 5px 10px;
    border: none;
    /*line-height: 12px;*/
}
.ticket-status {
    font-size: 13px;
    padding: 2px 5px;
    color: #fff;
    border-radius: 3px;
}
.ticket-status.ticket-open {
    background: #17d200;
}
.ticket-status.ticket-hold {
    background: #f9a203;
}
.ticket-status.ticket-close {
    background: #e00303;
}
.search_down_btn .btn_down, .search_down_btn .btn_pdf, .search_down_btn .btn_xls {
  background: #0e5d97;
  padding: 5px;
  border-radius: 30px;
  margin: 0 !important;
  color: #fff;
}

.search_down_btn .btn_down_disable, .search_down_btn .btn_pdf_disable, .search_down_btn .btn_xls_disable {
  background: #e2e4e6;
  padding: 5px;
  border-radius: 30px;
  margin: 0 !important;
  color: #fff;
  cursor: default;
}
.custom-support-width{max-width: 700px !important;}
.co-signer-same-font{font-size: 14px;}
/*=============================================================
                          Select Plan Scrollbar
=============================================================*/
.price-list::-webkit-scrollbar-track {
    border-radius: 0;
}
.price-list::-webkit-scrollbar-thumb {
    background: #2374af;
    border-radius: 0;
}
.price-list::-webkit-scrollbar {
    width: 5px;
}
.price-plan .price-list {
  height:239px;
}
.price-list table {
  margin-bottom:0 !important;
}
.vocher-box {
  float: left;
}
.vocher-box-right {
  width: 39% !important;
}
.provider-tab-section {
  background: #05bcf3;
}
.customer-tab-section {
  background: #afadad;
}
.hide-show-search-btn {
  float: right;
  top: 0;
  position: absolute !important;
  right: 0;
}
.label-auto {
  width: auto !important;
}
.label-auto-view {
  width: auto !important;
  float:left;
  margin-top:3px;
}
/*=============================================================
                          All Table Scrollbar
=============================================================*/

.rct-full-block > div > div:nth-child(3)::-webkit-scrollbar {
    height: 8px;
}

.rct-full-block > div > div:nth-child(3)::-webkit-scrollbar-thumb {
    background: #2374af;
}


.table-responsive::-webkit-scrollbar {
    height: 8px;
}

.table-responsive::-webkit-scrollbar-thumb {
    background: #2374af;
}


/*=============================================================
                          Responsive CSS
=============================================================*/

@media (max-width: 1199px) {
  
  p{font-size:13px!important;}
}
/*.table-responsive{overflow-x: visible !important;}
.MaterialDatatableToolbar-actions-138 {flex: 0 0 65% !important;}*/

.invoice_table input[type="checkbox"]{height: 100%;}
.modal-dialog-invoice{ width: 95%!important;max-width:95%!important;}
.customer-accnt .estimate-add-card{ width: 100%;}
.modal-dialog-custom{max-width:950px!important;}


.custom-collapse .rct-block-title{background: #0e5d97; border-radius: 4px 4px 0 0;}
.custom-collapse .rct-block-title h4{color: #fff; font-weight:700;}
.custom-collapse .rct-block-title .contextual-link {top:10px}
.custom-collapse .rct-block-title .contextual-link a{color:#fff}
.custom-collapse .rct-block-content{padding: 0px !important;}
.custom-collapse .width-100 table{border: solid 1px #d7eeff; width: 100%; border-collapse: collapse;}

.custom_icon{
  width:35px;
  display:block;
  height:35px;
  background:black;
  color:white;
  text-decoration:none;
  padding-left:20px;
}
.custom_icon:before{
  content: '';
  background:url('./images/report_icon.png') no-repeat 0 0;
  background-size:cover;
  /*position:absolute;*/
  width:35px;
  height:35px;
  margin-left:-7px;
  padding: 7px 19px;
}