<!DOCTYPE html>
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
link(rel="stylesheet", href="style.css", data-inline)
</head>
<body>
<table class="content" align="center" cellpadding="0" cellspacing="0" border="0">
<tr>
<td class="logo">
<img src="#{logo}">
</td>
</tr>
<tr>
<td>
<span>Hey <strong>#{name},</strong><br/><br/> 
</td>
</tr>
<tr>
<td>
<span>SomeBody (Hopefully you) requested a new password for the <strong>Health Partner</strong> account email #{email}. </span>
<br/><br/>
</td>
</tr>
<tr>
<td>
<spam>You can reset your password by <a href="#{link}">click here</a>.</spam>
</td>
</tr>
<tr>
<td>
<spam>Copyable link #{link}</spam> <br/><br/>
</td>
</tr>
<tr>
<td><span>If you have any questions, you can just hit reply to contact out Health Partner support team. </span><br/><br/><br/></td>
</tr>
<tr>
<td>
<span>Sincerely</span><br/>
<span>Health Partner Inc.</span><br/>
</td>
</tr>
</table>
</body>
</html>