body{font-size: 14px; line-height: 20px; font-family: 'Arial', sans-serif; color: #303030;}
.invoice-box {max-width: 1200px; margin: auto; padding: 2rem; border: 1px solid #eee;}
.logo{display:inline-block;}
.logo img{max-width:320px;}	
.invoicedetail{display:inline-block;}
.invoicedetail h2{margin:0; color:#145b88;}	
.client-info{background:#eff7fb; border:1px solid #cfdbe1; border-radius:4px; padding:2rem; margin-top:1.4rem;display:table;width:100%;box-sizing:border-box;}
.client-infoclient-info-text{display:block; line-height:1.7; position:relative;}
.clearfix:after{display:table; content:""; clear:both;}
.client-info-text .client-name{font-size:18px; font-weight:700;}	
.inline-box{display:inline-block;}
.align-right{float:right;}
.text-right{text-align:right;}
.text-left{text-align:left;}
.invoice-info{display:flex; flex-direction: row; justify-content:space-between; flex-wrap: nowrap; padding-top:1.2rem;}
.invoice-bx{border:solid 1px #cfdbe1; border-radius:4px; width:100%;}
.invoice-bx h2{color:#fff; background-color:#085993; margin:0; padding:0.9rem 1.3rem; border-radius:4px 4px 0 0;}
table{width:100%;}
.invoice-bx table{padding: 0.8rem 1.3rem;}
.invoice-bx table td, .invoice-bx table th{padding:0.25rem; text-align: left !important;}
.mrgn-auto{margin:0px auto;}
.invoice-bx table tr td:last-child{text-align:right;}
.border-top{border-top:1px solid #cfdbe1;}
.section-title{border-bottom:1px solid #cfdbe1; color:#085993; text-align:center; padding-top:2rem; padding-bottom:1.4rem; margin-bottom:1.4rem;}
.gross-info{width:40%;}
.gross-info h3{color:#fff; background-color:#085186; padding:0.8rem 1.5rem; border-radius:4px 4px 0 0; border-bottom:1px solid #126dae; margin:0; text-align:center; font-size:1.2rem;}
.gross-info table{padding:0.8rem 0.8rem 1.5rem;}
.gross-info table.table-bg{color:#fff;}
.gross-info table tr td{width:50%; font-size:1rem; padding:0.3rem 0.5rem;}
.gross-info table tr td:first-child{text-align:right;}
.pymnt-voucher-bx{display:flex; flex-direction: row; justify-content:flex-end; flex-wrap: nowrap; }
.company-info{align-items: center; display:flex; padding-right:1.5rem;}
.gross-info-bx{background-color:#085993; border-radius:4px;}
.table-wt-bg td{font-size:1.2rem;}
.invoice-bx-container{width:50%;}
.invoice-bx-container.invoice-bx-container-expln-amt-due{margin-right: 10px}
.invoice-bx-container.invoice-bx-container-last-pymnt{margin-left: 10px}
.loan-info.invoice-bx {margin-top: 23px;}	
.vocher-total {
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    border: 1px solid #085993;
    padding: 13px;
    border-radius: 3px;
}