<!DOCTYPE html>
<html>
<head>
link(rel="stylesheet", href="style.css", data-inline)
</head>
<body>
<table class="content" align="center" cellpadding="0" cellspacing="0" border="0">
<tr>
<td class="logo">
<img src="logo.png">
</td>
</tr>
<tr>
<td class="main_heading">
<span>LINE OF CREDIT APPROVAL</span>
<br/>
<br/>
</td> 
</tr>
<tr>
<td>
<span><strong>Name: </strong>
=name
</span>
</td>
</tr>
<tr>
<td>
<span><strong>Address: </strong>
=address
<br/>
=cityState
</span>
</td>
</tr>
<tr>
<td>
<span><strong>Phone: </strong></span>
=phone
</td>
</tr>
<tr>
<td>
<hr/>
</td>
</tr>
<tr>
<td><span><strong>Congratulation, your credit application has been approved. The following is your line of credit details:</strong></span><br/><br/></td>
</tr>
<tr>
<td>
<span><strong>Account Number: </strong></span>
=accountNumber
</td>
</tr>
<tr>
<td>
<span><strong>Application Number: </strong></span>
=applicationNumber
</td>
</tr>
<tr>
<td>
<span><strong>Amount Approved: </strong>$</span>
=amountApprove
</td>
</tr>
<tr>
<td>
<span><strong>Authorization Date: </strong></span>
=authDate
</td>
</tr>
<tr>
<td>
<span><strong>Authorization Expiration: </strong></span>
=expDate
</td>
</tr>
<tr>
<td>
<span><strong>Comment: </strong></span>
=hpscomment
</td>
</tr>
<tr>
<td><br/><span>To take advantage of the line of credit, please present this letter of authorization to any medical practice or doctor in our network.</span></td>
</tr>
<tr>
<td><span>If you have any additional question, our friendly customer service associate are eager to help.</span><br/><br/></td>
</tr>
<tr>
<td><span>Thanks, you very much for your business!</span><br/><br/><br/></td>
</tr>
<tr>
<td>
<span>Sincerely</span><br/>
<span>Health Partner Inc.</span><br/>
</td>
</tr>
</table>
</body>
</html>