<html>
<head>
 link(rel="stylesheet", href="style.css", data-inline)
</head>
<body>
<div>Dear #{email_data},<br/><br/></div>
<div>Thanks for choosing Health Partner for your health needs.<br/></div>
<div>Please find a copy of the signed loan agreement enclosed with.<br/><br/><br/></div>
<div>
<span>Best Regards</span><br/>
<span>Health Partner</span><br/>
<span>Customer Support</span><br/>
</div>
</body>

</html>