<!DOCTYPE html>
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>Signup emailer</title>
link(rel="stylesheet", href="style.css", data-inline)
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700", data-inline)
</head>
<body>

<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td>
<table class="content" align="center" cellpadding="0" cellspacing="0" border="0">
<tr>
<td class="logo">
<img src="#{logo}">
</td>
</tr>
<tr>
<td class="main_heading">
<span>INVOICE CANCELLED</span>
<br/>
<br/>
</td> 
</tr>
<tr>
<td>
<span><strong>Name: </strong>
=name
</span>
</td>
</tr>
<tr>
<td>
<span><strong>Address: </strong>
=address
<br/>
=cityState
</span>
</td>
<tr>
<td>
<span><strong>Phone: </strong></span>
=phone
</td>
</tr>
<tr>
<td>
<span><strong>Invoice Number: </strong></span>
=invoicenumber
</td>
</tr>
<tr>
<td>
<hr/>
</td>
</tr>

<tr>
<td><span>Invoice cancelled according to following reason:-</span></td>
</tr>
<tr>
<td><strong>#{comment}</strong></td>
</tr>
<tr>
<td><span>If you have any additional question, our friendly customer service associate are eager to help.</span><br/><br/></td>
</tr>

<tr>
<td><span>Thanks, you very much!</span><br/><br/><br/></td>
</tr>

<tr>
<td>
<span>Sincerely</span><br/>
<span>Health Partner Inc.</span><br/>


</td>
</tr>
</table>
</td>
</tr>
</table>
</body>
</html>