body{font-size: 14px; line-height: 20px; font-family: 'Arial', sans-serif; color: #303030;}
.invoice-box {
  max-width: 1200px;
  margin: auto;
  padding: 0px;
  font-size: 15px;
  line-height: 20px;
  font-family: 'Arial', sans-serif;
  color: #303030;
  }
  .margin-top {
  margin-top: 50px;
  }
  .justify-center {
  text-align: center;
  }
  .invoice-box table {
  width: 100%;
  line-height: inherit;
  text-align: left;
border:solid 1px #ddf1ff; border-collapse:collapse;}
.invoice-box table td{border:solid 1px #ddf1ff; border-collapse:collapse;}
.customer-info{width:100%;}
.customer-info tr th,.customer-info tr td{width:33.33333333333333%;}
.info-bx{justify-content:space-between !important}
.blue-tble td{background:#f1f9ff; padding:8px 15px; font-size:12px;}
.blue-tble th{background:#0e5d97; color:#fff;padding:8px 15px; font-size:12px;}
.invoice-box:after, .info-bx:after{content:""; clear:both; display:block; width:100%;}
.info-bx:after{margin-bottom:20px;}
.detail-table th{background:#0e5d97; color:#fff;padding:5px 2px; font-size:12px; line-height:22px;}
.detail-table td{padding:5px 2px; font-size:12px;}