<html>
<head>
link(rel="stylesheet", href="style.css", data-inline)
</head>
<body>
<div class="verify-email">
<img src="#{logo}">
<div class="application-documents">
<p>Dear Customer,</p>
<br/>
<p>Thanks for choosing Health Partner for your health needs.</p>
<p>Please find a copy of the signed loan agreement enclosed with.</p>
<br/><br/>

<p>Best Regards</p>
<p>Health Partner</p>
<p>Customer Support</p>
</div>
</div>
</body>
</html>
