<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
link(rel="stylesheet", href="style.css", data-inline)
</head>
<body>
<div class="invoice-box">
<div class="header-row">
<div class="logo">
<img title="Health Partner" src="#{logo}"/>
<p>5720 Creedmoor Road, Suite 103</p>
<p>Raleigh, NC 27612</p>
</div>
<div class="invoicedetail align-right text-right">
<h2>Invoice: #{invoice_number}</h2>
<p><strong>Date:</strong> #{invoice_date}</p>
</div>
<div class="client-info">
<div class="inline-box client-info-text address_box">
<p>#{full_name}</p>
<p>#{address_a}</p><br/>
<p>#{address_b}</p>
<p>#{city_zip}</p><br/>
<p>#{phone}</p>
</div>
<div class="inline-box client-info-text align-right text-right">
<table>
<tr>
<td><strong>Invoice Date :</strong> </td>
<td  class="text-left">#{invoice_date}</td>
</tr>
<tr>
<td><strong>Invoice Number :</strong> </td>
<td  class="text-left">#{invoice_number}</td>
</tr>
<tr>
<td><strong>Account Number :</strong></td>
<td class="text-left">#{ac_no}</td>
</tr>
<tr>
<td><strong>Payment Due Date :</strong> </td>
<td  class="text-left">#{pymnt_due_date}</td>
</tr>
<tr>
<td><strong>Amount Due :</strong> </td>
<td  class="text-left">$#{amount_due}</td>
</tr>
<tr>
<td><strong>Late Fee after(#{pymnt_due_date}) :</strong> </td>
<td  class="text-left">$#{master_late_fee}</td>
</tr>
</table>
</div>
</div>
<div class="clearfix">
<div class="loan-info invoice-bx">
<h2>Plans</h2>
<table>
<tr>
<th>Plan ID</th>
<th>Loan Amount</th>
<th>Payment Term</th>
<th>Interest Rate(%)</th>
<th>Monthly Payment</th>
</tr>
each val in loan_plan_info
    tr
        td=val[0].pp_id
        td='$'+parseFloat(val[0].credit_amount).toFixed(2)
        td=val[0].term_id+ ' Month'
        td=parseFloat(val[0].interest_rate).toFixed(2)+'%'
        td='$'+parseFloat(val[0].monthly_payment).toFixed(2)
</table>
</div>
</div>
<div class="invoice-info clearfix">
<div class="invoice-bx-container invoice-bx-container-expln-amt-due">
<div class="loan-info invoice-bx mrgn-auto">
<h2>Current Month</h2>
<table>
<tr>
<td><strong>Regular Monthly Payment :</strong></td>
<td>$#{regu_mnthly_pymnt}</td>
</tr>
<tr>
<td><strong>Late Fee #{late_fee_after_text}:</strong></td>
<td>$#{late_fee}</td>
</tr>
<tr>
<td><strong>Previous Late Fee:</strong></td>
<td>$#{prev_late_fee}</td>
</tr>
<tr>
<td><strong>Finance Charge :</strong></td>
<td>$#{fin_charge}</td>
</tr>
<tr>
<td><strong>Previous Finance Charge :</strong></td>
<td>$#{prev_fin_charge}</td>
</tr>
<tr>
<td><strong>Total Amount Due :</strong></td>
<td>$#{total_amt_due}</td>
</tr>
</table>
</div>
</div>
<div class="invoice-bx-container invoice-bx-container-last-pymnt">
<div class="loan-info invoice-bx">
<h2>Last Payment</h2>
<table>
<tr>
<td><strong>Regular Monthly Payment :</strong></td>
<td>$#{last_reg_mnthly_pymnt}</td>
</tr>
<tr>
<td><strong>Payment Date :</strong></td>
<td>#{last_payment_date}</td>
</tr>
<tr>
<td><strong>Paid Amount :</strong></td>
<td>$#{last_paid_amount}</td>
</tr>
<tr>
<td><strong>Late Fee :</strong></td>
<td>$#{last_late_fee}</td>
</tr>
<tr>
<td><strong>Finance Charge :</strong></td>
<td>$#{last_fin_ch}</td>
</tr>
<tr>
<td class="border-top"><strong>Total Amount Due :</strong></td>
<td class="border-top"><strong>$#{last_total_amount}</strong></td>
</tr>
</table>
</div>
</div>
</div>
<h2 class="section-title">PAYMENT VOUCHER</h2>
<div class="pymnt-voucher-bx clearfix">

<div class="gross-info credit-card-details">
<div class="gross-info-bxx bg-greyx">
<div class="add-card bg-grey mr-30 w-60 mw-100 pb-0 credit-card-details">
<p class="credit-card-heading mb-0 p-5">If Paying By Credit Card Please Fill Out Below</p>  
<div class="logo-container">
<p class="logo-heading">Check Card Using for Payment</p>
<ul class="mb-0 p-10">  
<li><span class="check"></span>Visa Card</li>
<li><span class="check"></span>Master Card</li>
<li><span class="check"></span>American Express</li>
<li><span class="check"></span>Discover</li>
</ul>
</div>
<div class="field-container">
<table>
<tbody>
<tr>
<td>Card Number</td>
<td>3 Digit Security Code</td>
</tr>
<tr>
<td class="pt-5">Signature</td>
<td class="pt-5">Exp. Date</td>
</tr>
<tr>
<td>Name on Card</td>
<td>Zip Code</td>
</tr>
<tr>
<td>Statement Date</td>
<td>Account Number</td>
</tr>
<tr>
<td>3% Additional Charge
<span class="additional-credit-amount">$#{three_per_charge}</span>
</td>
<td>Pay This Amount
<span class="payable-amount">$#{total_inc_per}</span>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>

</div>

<div class="gross-info">
<div class="gross-info-bx">
<h3>Amount Due</h3>
<table class="table-bg">
<tr>
<td>Invoice Date : </td>
<td>#{invoice_date}</td>
</tr>
<tr>
<td>Invoice Number : </td>
<td>#{invoice_number}</td>
</tr>
<tr>
<td>Account Number :</td>
<td>#{ac_no}</td>
</tr>
<tr>
<td>Payment Due Date :</td>
<td>#{pymnt_due_date}</td>
</tr>
<tr>
<td>Amount Due :</td>
<td>$#{amount_due}</td>
</tr>
<tr>
<td><strong>Late Fee #{late_fee_after_text}:</strong></td>
<td>$#{late_fee}</td>
</tr>
<tr>
<td><strong>Previous Late Fee:</strong></td>
<td>$#{prev_late_fee}</td>
</tr>
<tr>
<td><strong>Finance Charge :</strong></td>
<td>$#{fin_charge}</td>
</tr>
<tr>
<td><strong>Previous Finance Charge :</strong></td>
<td>$#{prev_fin_charge}</td>
</tr>
</table>
</div>



<div class="vocher-total"><strong>Total Amount Enclosed : </strong><strong>$#{total_amt_due}</strong></div>
</div>
</div>
</div>
</div>
</body>
</html>