<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
link(rel="stylesheet", href="style.css", data-inline)
</head>
<body>
<div class="invoice-box">
<div class="header-row">
<div class="logo"><img title="Health Partner" src="logo.png"/></div>
<div class="client-info">
<div class="inline-box client-info-text">
<p>Dear #{pateint_name},</p>

<p>This email is sent you for bank account verification. Please login your account and verify your bank.</p>
</div>
</div>
</div>
</div>
</body>
</html>