<!DOCTYPE html>
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>Signup emailer</title>
link(rel="stylesheet", href="style.css", data-inline)
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700", data-inline)
</head>
<body>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td>
<table class="content" align="center" cellpadding="0" cellspacing="0" border="0">
<tr>
<td>
<span>Hey <strong>#{name},</strong></span><br> 
<span>Please submit your invoice brfore Procedure Date.</span><br/><br/>
</td>
</tr>
<tr>
<td><span>If you have any questions, you can just hit reply to contact out Health Partner support team. </span><br/><br/><br/></td>
</tr>
<tr>
<td>
<span>Best</span><br/>
<span>Support team</span><br/>
<span><img src="https://alpha.ourhealthpartner.com/logo.png"></span>
</td>
</tr>
</table>
</td>
</tr>
</table>
</body>
</html>